body {
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}

#main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1200px;
    max-width: 1200px;
}

.margin_top_50px{
    margin-top: 50px;
}